:root {
    --branding-color: #c8c6b1;
    --secondary-color: #737955;
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'Yeseva One', cursive;
}

body {
    background-color: white;
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--heading-font);
    font-weight: medium;
    text-align: center;
    margin-top: 0px;
    font-size: 96px;
    color: white;
}

.hero h2 {
    font-family: var(--heading-font);
    font-weight: normal;
    color: var(--secondary-color);
    text-align: center;
    font-size: 24px;
}

.hero {
    background-color: var(--branding-color);
    padding: 160px 20px;
    text-align: center;

}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.btn {
    margin: auto;
    display: inline-block;
}

.btn-branding {
border-radius: 5px;
    background-color: #b2393e;
    color: white;
    padding: 15px 20px;
    text-align: center;
}
