:root {
    --branding-color: #86e3ce;
    --secondary-color: #fc46aa;
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'Yeseva One', cursive;
}

body {
    background-color: white;
    font-family: var(--primary-font);
}

h2 {
    font-size: 54px;
    text-align: start;
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--heading-font);
    text-align: start;
    font-size: 96px;
    color: white;
}

h3 {
    font-size: 48px;
    font-family: var(--heading-font);
    color: white;
}

h4 {
    font-size: 34px;
    font-family: var(--primary-font);
}

p {
    font-size: 16px;
    text-align: start;
    line-height: 30px;
    font-family: var(--primary-font);
}

.work-page {
    color: black;
}


.hero-heading h1 {
    font-family: var(--heading-font);
    font-weight: medium;
    text-align: center;
    margin-top: 0px;
    font-size: 96px;
    color: white;
}

.hero h2 {
    font-family: var(--heading-font);
    font-weight: normal;
    text-align: center;
    font-size: 24px;
}

.hero {
    background-color: var(--branding-color);
    padding: 80px 20px;
    text-align: center;

}

.hero-heading {
    text-align: center;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
    text-align: center;
}

.btn {
    margin: auto;
    display: inline-block;
}

.btn-branding {
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    padding: 15px 20px;
    text-align: center;
}

.btn-branding-outline {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
}

.project-description {
    padding: 0px 30px;
}

.content-container h2 {
    font-size: 20px;
    font-family: var(--primary-font);

}

.content {
    margin: 30px;
    padding: 60px 20px;
}

.content h3 {
    line-height: 1.5;
    font-weight: bold;
}


.mj-photo {
    border-radius: 10px;
}

.content h1 {
color: black;
text-align: start;
font-size: 64px;
margin-bottom: 20px;
font-family: var(--primary-font);
}

.content p {
    font-size: 14px;
    font-family: var(--primary-font);
}

.content h3 {
    font-size: 24px;
    font-family: var(--primary-font);
    line-height: 1;
}

.logo {
    max-height: 50px;
}

nav {
    padding: 20px 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    font-size: 16px;
    font-family: var(--primary-font);
    margin-left: 10px;
}

.shecodes-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.project-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.shecodes-link:hover {
    color: var(--secondary-color)
}

.project-link:hover {
    color: var(--secondary-color)
}

nav a {
    text-decoration: none;
    transition: all 100ms ease-in-out;
    color: black;
}

nav a:hover, nav li.active a {
    color: var(--secondary-color);
}

nav ul {
    padding: 0;
    margin: 0;
}

footer .contact-box {
    background-color: var(--branding-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
    font-family: var(--primary-font);
}

footer .email-link {
text-decoration: none;
color: black;
font-size: 24px;
margin-top: 60px;
}

footer .email-link:hover {
    color: var(--secondary-color);
}

footer .social-link a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--branding-color);
    font-size: 20px;
    margin: 20px;
    padding: 10px 16px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
    }


footer .social-link a:hover {
    color: black;
}

.contact-options a {
    text-decoration: none;
    color: black;
}

.contact-options a:hover {
    color: var(--secondary-color);
}

@media (max-width: 900px) {
    h1 {
        font-size: 60px;
        text-align: center;
    }
    h2 {
        font-size: 44px;
        text-align: center;
    }
    h3 {
        font-size: 18px;
    }
    p {
        text-align: center;
    }
    .pb-5 {
        font-size: 22px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    .content-container {
        text-align: center;
        padding: 0;
    }
    .content h1 {
        text-align: center;
        font-size: 44px;
    }
    nav a {
        font-size: 14px;
    }
    footer .contact-box {
        padding: 30px;
    }
}