:root {
    --branding-color: #c8c6b1;
    --secondary-color: #737955;
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'Yeseva One', cursive;
}

body {
    background-color: white;
    font-family: var(--primary-font);
}

h2 {
    font-size: 64px;
    text-align: start;
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--heading-font);
    text-align: start;
}

p {
    font-size: 16px;
    text-align: start;
    line-height: 1.7;
    font-family: var(--primary-font);
}

.hero-heading h1 {
    font-family: var(--heading-font);
    font-weight: medium;
    text-align: center;
    margin-top: 0px;
    font-size: 96px;
    color: white;
}

.hero h2 {
    font-family: var(--heading-font);
    font-weight: normal;
    color: var(--secondary-color);
    text-align: center;
    font-size: 24px;
}

.hero {
    background-color: var(--branding-color);
    padding: 160px 20px;
    text-align: center;

}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
    text-align: center;
}

.btn {
    margin: auto;
    display: inline-block;
}

.btn-branding {
    border-radius: 5px;
    background-color: #b2393e;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

.btn-branding-outline {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
}

.project-description {
    padding: 0px 30px;
}

.content-container h2 {
    font-size: 20px;
    font-family: var(--primary-font);

}

.content {
    margin: 30px;
    padding: 160px 20px;
}


.mj-photo {
    border-radius: 10px;
}

.content h1 {
color: black;
text-align: start;
font-size: 45px;
margin-bottom: 20px;
}

.content p {
    font-size: 14px;
    font-family: var(--primary-font);
}

.content h3 {
    font-size: 24px;
    font-family: var(--primary-font);
    line-height: 1;
}

@media (max-width: 900px) {
    h1 {
        font-size: 60px;
        text-align: center;
    }
    h2 {
        font-size: 44px;
        text-align: center;
    }
    p {
        text-align: center;
    }
    .pb-5 {
        font-size: 22px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    .content-container {
        text-align: center;
        padding: 0;
    }
    .content h1 {
        text-align: center;
    }
}