body {
    background-color: magenta;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 96px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: green;
    text-align: center;
}

h3 {
    font-size: 75px;
    text-align: center;
}